.search_title[data-v-5b7f94e6] {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 0 10% 24px;
	position: relative
}

.search_title.has_input[data-v-5b7f94e6] {
	padding-bottom: 36px
}

.title_txt[data-v-5b7f94e6] {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 28px;
	font-weight: 600;
	color: #000;
	letter-spacing: -.14px;
	cursor: pointer
}

.ico-delete-circle[data-v-5b7f94e6] {
	margin-left: 8px;
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	cursor: pointer
}

.search_suggests[data-v-5b7f94e6] {
	position: absolute;
	top: 40px;
	background: #fff;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .05), 0 12px 24px
		rgba(0, 0, 0, .05);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .05), 0 12px 24px rgba(0, 0, 0, .05);
	z-index: 1001;
	height: 496px;
	max-width: 500px;
	width: 500px
}

.search_suggests2[data-v-5b7f94e6] {
	position: relative;
	
	background: #fff;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .05), 0 12px 24px
		rgba(0, 0, 0, .05);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .05), 0 12px 24px rgba(0, 0, 0, .05);
	z-index: 1001;
	
	max-width: 500px;
	width: auto;
	border-radius: 16px;
    padding-left: 10;
}

.search_suggests[data-v-5b7f94e6] .suggest_list {
	max-height: 496px;
	padding-top: 8px
}

.search_suggests2[data-v-5b7f94e6] .suggest_list {
	max-height: 496px;
	padding-top: 8px
}


.search_suggests[data-v-5b7f94e6] .suggest_list .suggest_item {
	width: 100%;
	height: 60px;
	border: unset;
	padding: 0 8px
}

.search_suggests[data-v-5b7f94e6] .suggest_list .suggest_item .model_title
	{
	font-size: 14px;
	color: rgba(34, 34, 34, .8)
}

.search_suggests[data-v-5b7f94e6] .suggest_list .suggest_item .model_sub_info
	{
	font-size: 13px;
	color: rgba(34, 34, 34, .5)
}

.search_suggests[data-v-5b7f94e6] .suggest_list .suggest_item:hover {
	background: #fafafa
}

.search_suggests[data-v-5b7f94e6] .suggest_list .suggest_item:hover .model_title
	{
	font-weight: 700;
	font-size: 14px;
	color: #222
}

.search_suggests[data-v-5b7f94e6] .suggest_list .suggest_item:hover .model_sub_info
	{
	font-weight: 400;
	font-size: 13px;
	color: #222
}

.search_suggests[data-v-5b7f94e6] .suggest_list .suggest_thumb {
	width: 50px;
	height: 50px;
	margin-right: 8px;
	background-color: #f4f4f4
}

.search_suggests[data-v-5b7f94e6] .result_nodata {
	padding: 213px 0 214px
}

.filter_tag[data-v-9bcf6292] {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	margin-top: -8px;
	margin-bottom: 20px
}

.tag_item[data-v-9bcf6292] {
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	margin: 8px 8px 0 0;
	padding: 4px 2px 4px 10px;
	background-color: #f4f4f4;
	border-radius: 6px
}

.tag[data-v-9bcf6292] {
	font-size: 12px;
	letter-spacing: -.06px;
	letter-spacing: -.05px
}

.ico-delete-gray[data-v-9bcf6292] {
	cursor: pointer
}

.filter_result[data-v-e32d52b6] {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 14px;
	letter-spacing: -.21px
}

.filter_result .title[data-v-e32d52b6] {
	margin-right: 2px;
	color: rgba(34, 34, 34, .8)
}

.filter_result .amount[data-v-e32d52b6] {
	font-weight: 700;
	margin-bottom: 2px
}

.mo .filter_result[data-v-e32d52b6], .sm .filter_result[data-v-e32d52b6]
	{
	font-size: 13px;
	letter-spacing: -.07px
}

.mo .filter_result .title[data-v-e32d52b6], .sm .filter_result .title[data-v-e32d52b6]
	{
	color: #222
}

.mo .filter_result .amount[data-v-e32d52b6], .sm .filter_result .amount[data-v-e32d52b6]
	{
	margin-bottom: 0
}

.filter_brand[data-v-1db771cc] {
	margin-top: 1px
}

.brand_btn[data-v-1db771cc] {
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	height: 28px;
	padding: 0 9px;
	border: 1px solid #ebebeb;
	border-radius: 17px
}

.brand_btn .ico-express[data-v-1db771cc] {
	width: 10px;
	height: 12px;
	margin-top: 2px
}

.brand_btn .text[data-v-1db771cc] {
	line-height: 20px;
	margin-left: 3px;
	font-size: 13px;
	letter-spacing: -.07px;
	letter-spacing: normal
}

.brand_btn.is_active[data-v-1db771cc] {
	background-color: #7c72ee;
	color: #fff
}

.search_result_list[data-v-01f4e1bc] {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-auto-rows: 1fr;
	grid-row-gap: 40px;
	row-gap: 40px;
	grid-column-gap: 13px;
	-webkit-column-gap: 13px;
	-moz-column-gap: 13px;
	column-gap: 13px
}

.lg .search_result_list[data-v-01f4e1bc], .md .search_result_list[data-v-01f4e1bc]
	{
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-column-gap: 12px;
	-webkit-column-gap: 12px;
	-moz-column-gap: 12px;
	column-gap: 12px
}

.lg .search_result_list[data-v-01f4e1bc] {
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-column-gap: 20px;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px
}

.banner_bottom[data-v-e5d8b6f4] {
	display: -webkit-box;
	display: flex
}

.banner_bottom .banner_box[data-v-e5d8b6f4] {
	position: relative;
	padding: 36px 32px 0;
	width: 100%;
	height: 200px
}

.banner_bottom .banner_box[data-v-e5d8b6f4]:first-child {
	background-color: #565656
}

.banner_bottom .banner_box[data-v-e5d8b6f4]:nth-child(2) {
	background-color: #3b3a3c
}

.banner_bottom .banner_box>.bg[data-v-e5d8b6f4] {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0
}

.banner_bottom .banner_info[data-v-e5d8b6f4] {
	position: relative;
	z-index: 2;
	max-width: 300px;
	color: #fff
}

.banner_bottom .info_subtitle[data-v-e5d8b6f4] {
	font-size: 12px;
	text-transform: uppercase
}

.banner_bottom .info_title[data-v-e5d8b6f4] {
	padding-top: 12px;
	text-shadow: -1px 0 #565656, 0 1px #565656, 1px 0 #565656, 0 -1px
		#565656;
	font-size: 16px;
	letter-spacing: -.16px
}

.banner_bottom .info_txt[data-v-e5d8b6f4] {
	margin-top: 16px;
	padding: 0 7px;
	display: inline-block;
	font-size: 12px;
	letter-spacing: -.06px;
	height: 29px;
	line-height: 27px;
	border-radius: 6px;
	border: 1px solid hsla(0, 0%, 100%, .8);
	color: #fff
}

.banner_bottom.mo[data-v-e5d8b6f4], .banner_bottom.sm[data-v-e5d8b6f4] {
	display: block
}

.banner_bottom.mo .banner_box[data-v-e5d8b6f4], .banner_bottom.sm .banner_box[data-v-e5d8b6f4]
	{
	padding: 29px 21px 0;
	display: block
}

.banner_bottom.mo .banner_box>.bg[data-v-e5d8b6f4], .banner_bottom.sm .banner_box>.bg[data-v-e5d8b6f4]
	{
	right: -61px
}

.banner_bottom.mo .info_title[data-v-e5d8b6f4], .banner_bottom.sm .info_title[data-v-e5d8b6f4]
	{
	padding-top: 37px
}

.container.detail .banner_bottom[data-v-e5d8b6f4] {
	margin-top: 80px
}

.btn_top[data-v-695163b8] {
	position: fixed;
	bottom: 24px;
	right: 24px;
	width: 44px;
	height: 48px;
	padding-top: 4px;
	border-radius: 30px;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
	background-color: #fff;
	z-index: 999
}

.btn_top.mo[data-v-695163b8], .btn_top.sm[data-v-695163b8] {
	right: 20px;
	bottom: 20px
}

.banner_box[data-v-e6ad1d2a] {
	position: relative;
	padding-top: 20px
}

.detail_banner[data-v-e6ad1d2a] {
	position: relative;
	vertical-align: top
}

.banner_count_box[data-v-e6ad1d2a] {
	position: absolute;
	right: 8px;
	bottom: 8px;
	padding: 4px 15px 5px;
	text-align: center;
	background-color: rgba(34, 34, 34, .8);
	border-radius: 12px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center
}

.banner_count[data-v-e6ad1d2a] {
	width: 31px;
	font-size: 11px;
	color: hsla(0, 0%, 100%, .8);
	font-weight: 600;
	display: inline-block
}

.banner_link[data-v-e6ad1d2a] {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	height: 80px
}

.banner_link img[data-v-e6ad1d2a] {
	height: 100%;
	vertical-align: top
}

.detail_slide[data-v-e6ad1d2a] {
	position: relative
}

.detail_slide[data-v-e6ad1d2a] .slick-list {
	height: 80px;
	display: block
}

.detail_slide[data-v-e6ad1d2a] .slick-slide {
	float: left
}

.detail_slide[data-v-e6ad1d2a] .slick-arrow {
	position: absolute;
	bottom: 14px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNiA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xIC41bDQgNC00IDQiIHN0cm9rZT0iI2ZmZiIvPjwvc3ZnPg==)
		no-repeat;
	width: 6px;
	height: 9px;
	font-size: 0;
	color: transparent;
	cursor: pointer;
	z-index: 1
}

.detail_slide[data-v-e6ad1d2a] .slick-arrow.slick-prev {
	right: 56px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.detail_slide[data-v-e6ad1d2a] .slick-arrow.slick-next {
	right: 14px
}

.mo .banner_count_box[data-v-e6ad1d2a], .sm .banner_count_box[data-v-e6ad1d2a]
	{
	padding-left: 5px;
	padding-right: 5px
}

.mo .slick-arrow[data-v-e6ad1d2a], .sm .slick-arrow[data-v-e6ad1d2a] {
	display: none
}

.mo .banner_link[data-v-e6ad1d2a], .mo .detail_slide[data-v-e6ad1d2a] .slick-list,
	.sm .banner_link[data-v-e6ad1d2a], .sm .detail_slide[data-v-e6ad1d2a] .slick-list
	{
	height: 78px
}

.container.search .banner_link[data-v-e6ad1d2a], .container.search .detail_slide[data-v-e6ad1d2a] .slick-list
	{
	height: 100px
}

.mo .container.search .banner_link[data-v-e6ad1d2a], .mo .container.search .detail_slide[data-v-e6ad1d2a] .slick-list,
	.sm .container.search .banner_link[data-v-e6ad1d2a], .sm .container.search .detail_slide[data-v-e6ad1d2a] .slick-list
	{
	height: 96px
}

.container.search[data-v-64beee88] {
	overflow: hidden
}

.container.search.is_fixed[data-v-64beee88] {
	padding-top: 120px
}

.container.search.is_fixed .search_top[data-v-64beee88] {
	position: fixed;
	top: 86px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #ebebeb
}

.container.search.is_fixed.mo[data-v-64beee88], .container.search.is_fixed.sm[data-v-64beee88]
	{
	padding-top: 0
}

.container.search.is_fixed.mo .search_trend_container[data-v-64beee88],
	.container.search.is_fixed.sm .search_trend_container[data-v-64beee88]
	{
	margin-top: 66px
}

.container.search.is_fixed.mo .search_top[data-v-64beee88], .container.search.is_fixed.sm .search_top[data-v-64beee88]
	{
	top: 52px
}

.container.search .banner[data-v-64beee88], .container.search .search_trend_container[data-v-64beee88]
	{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px
}

.container.search .banner[data-v-64beee88] .banner_box {
	padding-top: 0
}

@media ( max-width :768px) {
	.container.search .search_option[data-v-64beee88] {
		height: 60px
	}
}

.container.search.mo .search_top[data-v-64beee88], .container.search.sm .search_top[data-v-64beee88]
	{
	padding-top: 12px;
	padding-left: 0;
	padding-right: 0
}

.container.search.mo .top_box[data-v-64beee88], .container.search.sm .top_box[data-v-64beee88]
	{
	border-bottom: 0
}

.container.search.mo .banner[data-v-64beee88], .container.search.mo .search_trend_container[data-v-64beee88],
	.container.search.sm .banner[data-v-64beee88], .container.search.sm .search_trend_container[data-v-64beee88]
	{
	padding: 0
}

.container.search.mo .content[data-v-64beee88], .container.search.sm .content[data-v-64beee88]
	{
	padding-left: 24px;
	padding-right: 24px
}

.container.search.mo .search_option[data-v-64beee88], .container.search.sm .search_option[data-v-64beee88]
	{
	height: 50px
}

.container.search.sm .content[data-v-64beee88] {
	padding-left: 16px;
	padding-right: 16px
}

.wrap.win_os .search_top[data-v-64beee88] {
	padding: 40px 40px 0
}

.wrap.win_os .container.is_fixed.not_supported .search_top[data-v-64beee88]
	{
	top: 126px
}

.wrap .search_top[data-v-64beee88] {
	padding: 20px 40px 0;
	background-color: #fff;
	z-index: 100
}

.top_box[data-v-64beee88] {
	margin: 0 auto;
	max-width: 1200px
}

.content[data-v-64beee88] {
	display: -webkit-box;
	display: flex;
	position: relative;
	margin: 0 auto;
	padding: 0 40px 80px;
	max-width: 1280px
}

.search_content[data-v-64beee88] {
	-webkit-box-flex: 1;
	flex: 1;
}

.search_option[data-v-64beee88] {
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	height: 68px
}

.search_option .filter_btns[data-v-64beee88], .search_option[data-v-64beee88]
	{
	display: -webkit-box;
	display: flex
}

.search_option .filter_btns .filter_btn+.filter_btn[data-v-64beee88] {
	margin-left: 6px
}