@charset "UTF-8";

.picture[data-v-878ec45c] {
	display: -webkit-box;
	display: flex
}

.image[data-v-878ec45c] {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
	image-rendering: auto
}

.image.auto_width[data-v-878ec45c] {
	width: auto
}

.image.center[data-v-878ec45c] {
	margin: 0 auto
}