<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.theharmm.mapper.PostMapper">

	<insert id="postEnroll">
		insert into post values(post_seq.nextval, 'asd', sysdate)
	</insert>
	
	
	<!-- 포스트 리스트 -->
  	<select id="postGetList" resultType="com.theharmm.domain.PostVO">
  	
	  	
		select * from
			(select * from
				(select 
				p.post_id as post_id, p.member_email as member_email, s.file_name as file_name, replace(s.upload_path, '\','/') as upload_path, s.uuid as uuid,
				 row_number() over(partition by p.post_id order by p.post_id) as rn
				from post p, social s
				where p.post_id = s.post_id)
				where rn = 1)

  	
  	</select>
	
	<!-- 포스트 총 개수 -->
  	<select id="postGetTotal" resultType="int">
  		select count(*) from post
  	</select> 
</mapper>
