<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.theharmm.mapper.PostMapper">

	<insert id="postEnroll">
		insert into post values(post_seq.nextval, 'asd', sysdate, #{contents}, #{pid0}, #{pid1}, #{pid2})
	</insert>
	
	
	<!-- 포스트 리스트 -->
  	<select id="postGetList" resultType="com.theharmm.domain.PostVO" >
		select p.post_id as post_id, p.member_email as member_email, 
		s.file_name as file_name, s.upload_path as upload_path, s.uuid as uuid,
		contents, pid0, pid1, pid2
		from post p, social s where p.post_id = s.post_id
		and (s.file_name like '%.jpg' or s.file_name like '%.png')
		order by p.register_date desc
  	</select>
	
	<!-- 포스트 총 개수 -->
  	<select id="postGetTotal" resultType="int">
  		select count(*) from post
  	</select> 
  	
  	<!-- 사용자별 포스트 하나 가져오기 -->
  	<select id="postGetOne" resultType="com.theharmm.domain.PostVO">
  		select * from post where post_id = #{post_id}
  	</select> 
 
  	<!-- 긍정리뷰 리스트 조회 -->
  	<select id="selectPositivePostList" resultType="com.theharmm.domain.PostVO">
  		SELECT T1.*, T2.FILE_NAME, T2.UPLOAD_PATH, T2.UUID
  		  FROM POST T1, SOCIAL T2
  		 WHERE T1.POST_ID = T2.POST_ID (+)
  		   AND ( T1.PID0 = #{pid} OR T1.PID1 = #{pid} OR T1.PID2 = #{pid} )
  		   AND T1.SENTIMENT_RESULT = 'P'
  		   AND ( T2.FILE_NAME LIKE '%.jpg' OR T2.FILE_NAME LIKE '%.png' OR T2.POST_ID IS NULL)
  	</select>
  	
  	<!-- 부정리뷰 리스트 조회 -->
  	<select id="selectNegativePostList" resultType="com.theharmm.domain.PostVO">
  		SELECT T1.*, T2.FILE_NAME, T2.UPLOAD_PATH, T2.UUID
  		  FROM POST T1, SOCIAL T2
  		 WHERE T1.POST_ID = T2.POST_ID (+)
  		   AND ( T1.PID0 = #{pid} OR T1.PID1 = #{pid} OR T1.PID2 = #{pid} )
  		   AND T1.SENTIMENT_RESULT = 'N'
  		   AND ( T2.FILE_NAME LIKE '%.jpg' OR T2.FILE_NAME LIKE '%.png' OR T2.POST_ID IS NULL)
  	</select>
  	
 
  	
  

</mapper>
