<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theharmm.mapper.ProductMapper">

	<!-- 키워드는 무조건 대문자 소문자 구분!!!! -->
	<sql id="criteria">
		<trim prefix=" AND (" suffix=")" prefixOverrides="AND | OR">
			<foreach item="type" collection="cri.typeArr"> 
				<trim prefix="AND">
					<choose>
						
						<when test="type== 'K'.toString()">
							(pname_k like '%' || #{cri.keyword} || '%'
							OR
							brand like '%' || #{cri.keyword} || '%'
							OR
							p.MODEL_NUMBER like '%' || #{cri.keyword} || '%')
						</when>	
										      
						<when test="type== 'B'.toString()">
							<trim prefix="(" suffix=")" prefixOverrides="OR">
								<foreach item="bkeyword" collection="cri.bkeywordArr"> 
									<trim prefix="OR">
										brand like '%' || #{bkeyword} || '%'
									</trim>
								</foreach>
							</trim>							
						</when>
												
						<when test="type== 'C'.toString()">
							category = #{cri.ckeyword} 
						</when>
						
						<when test="type== 'S'.toString()">
							<trim prefix="(" suffix=") and category = 1" prefixOverrides="OR">
								<foreach item="ssize" collection="cri.SsizeArr"> 
									<trim prefix="OR">
										model_size like  '%' || #{ssize} || '%'
									</trim>
								</foreach>
							</trim>							
						</when>
						
						<when test="type== 'L'.toString()">
							<trim prefix="(" suffix=") and category = 2" prefixOverrides="OR">
								<foreach item="lsize" collection="cri.LsizeArr"> 
									<trim prefix="OR">
										model_size like  '%' || #{lsize} || '%'
									</trim>
								</foreach>
							</trim>							
						</when>
						
						<when test="type== 'P'.toString()">
						  <![CDATA[  
							RELEASE_PRICE >= #{cri.startp} and RELEASE_PRICE < #{cri.endp}						
						    ]]>
						</when>
					</choose> <!-- end choose -->
				</trim><!--end trim OR -->
			</foreach> <!--foreach -->
		</trim> <!--end trim pre... -->
	</sql>

	<!--  제품 리스트 가져오기 -->
	<select id="selectProducts"
		resultType="com.theharmm.domain.ProductDTO"
		parameterType="HashMap">
		<![CDATA[ 
		select pid,category,brand,pname_e,pname_k,model_number,release_date ,color,release_price,img1,img2,img3,img4,img5
		     from (select rownum as rnum, pid,category,brand,pname_e,pname_k,model_number,release_date ,color,release_price,img1,img2,img3,img4,img5
		        from (select distinct pid,category,brand,pname_e,pname_k,model_number,release_date
		            ,color,release_price,img1,img2,img3,img4,img5
		            from (select p.pid,category,brand,pname_e,pname_k,p.model_number,release_date
		                ,color,release_price,img1,img2,img3,img4,img5,s.model_size
		                from resell_product p, resell_product_size s
		                where p.pid = s.pid
		                ]]>
		                <include refid="criteria"/>
		                )
		        <![CDATA[        
		        )
		        where rownum <= #{cri.pageNum} * #{cri.amount}
		    )
		where rnum > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>

	<!--  제품 리스트 갯수 가져오기 -->
	<select id="countProducts" resultType="int"
		parameterType="HashMap">
		select count(distinct pid)
		    from (select p.pid,category,brand,pname_e,pname_k,p.model_number,release_date,color,release_price,img1,img2,img3,img4,img5,s.model_size
		            from resell_product p, resell_product_size s
		            where p.pid = s.pid
		            <include refid="criteria"> </include>
		        )
	</select>

</mapper>