<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.theharmm.mapper.SocialMapper">
	<!-- 피드 등록 -->
	<insert id="socialEnroll">
		insert into social values((select max(post_id) from post), #{file_name}, #{upload_path}, #{uuid}, sysdate)
	</insert>
	
	 <!-- post_id로 socialvo가져오기 -->
  	<select id="socialByPostid" resultType="com.theharmm.domain.SocialVO">
  		select * from social where post_id = #{post_id}
  	</select> 
</mapper>
